.header{               /*头部*/
    height: 50px;
    width: 100%;
    background: green;
}    
.article{               /*正文部分*/
   /* width: 100px;*/
    height: 550px;
    background: gray;
    overflow: hidden;

}  
.middle{                /*正文中间容器*/
    width: 100%;
    height: 100px;
    background:orange ;
    float: left;

}  
.inner{                 /*正文中间显示部分*/
    background: blue;
    margin-left: 350px;
    margin-right: 300px;
    height: 150px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border:4px solid white;
}
.left{               /*正文左边部分*/
    width: 350px;
    height: 50px;
    background:yellowgreen ;
    float: left;
    margin-left:-100%;
    left: -100px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border:4px solid white;
}   
  
.right{                /*正文右边部分*/
    width: 300px;
    height: 50px;
    background: yellow;
    float: left;
    margin-left:-308px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border:4px solid white;

    
}   
.footer{             /*底部*/
    height: 50px;
    background:green ;
}   
