#a4072:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4072:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4072:hover .zhongji{
    display:block;
}
#a4072:hover .learn-number{
    display:block;
}
#a4072:hover .lessonplay{
    opacity:1;
}
/*#a3650:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3650:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3650:hover .zhongji{
    display:block;
}
#a3650:hover .learn-number{
    display:block;
}
#a3650:hover .lessonplay{
    opacity:1;
}*/
#a4071:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4071:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4071:hover .zhongji{
    display:block;
}
#a4071:hover .learn-number{
    display:block;
}
#a4071:hover .lessonplay{
    opacity:1;
}
#a4070:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4070:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4070:hover .zhongji{
    display:block;
}
#a4070:hover .learn-number{
    display:block;
}
#a4070:hover .lessonplay{
    opacity:1;
}
#a4069:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4069:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4069:hover .zhongji{
    display:block;
}
#a4069:hover .learn-number{
    display:block;
}
#a4069:hover .lessonplay{
    opacity:1;
}
#a4068:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4068:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4068:hover .zhongji{
    display:block;
}
#a4068:hover .learn-number{
    display:block;
}
#a4068:hover .lessonplay{
    opacity:1;
}
#a4067:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4067:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4067:hover .zhongji{
    display:block;
}
#a4067:hover .learn-number{
    display:block;
}
#a4067:hover .lessonplay{
    opacity:1;
}
#a4066:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4066:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4066:hover .zhongji{
    display:block;
}
#a4066:hover .learn-number{
    display:block;
}
#a4066:hover .lessonplay{
    opacity:1;
}
#a3740:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3740:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3740:hover .zhongji{
    display:block;
}
#a3740:hover .learn-number{
    display:block;
}
#a3740:hover .lessonplay{
    opacity:1;
}
#a4025:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4025:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4025:hover .zhongji{
    display:block;
}
#a4025:hover .learn-number{
    display:block;
}
#a4025:hover .lessonplay{
    opacity:1;
}
#a4033:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4033:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4033:hover .zhongji{
    display:block;
}
#a4033:hover .learn-number{
    display:block;
}
#a4033:hover .lessonplay{
    opacity:1;
}
#a4034:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4034:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4034:hover .zhongji{
    display:block;
}
#a4034:hover .learn-number{
    display:block;
}
#a4034:hover .lessonplay{
    opacity:1;
}
#a4032:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4032:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4032:hover .zhongji{
    display:block;
}
#a4032:hover .learn-number{
    display:block;
}
#a4032:hover .lessonplay{
    opacity:1;
}
#a4031:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4031:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4031:hover .zhongji{
    display:block;
}
#a4031:hover .learn-number{
    display:block;
}
#a4031:hover .lessonplay{
    opacity:1;
}
#a3976:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3976:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3976:hover .zhongji{
    display:block;
}
#a3976:hover .learn-number{
    display:block;
}
#a3976:hover .lessonplay{
    opacity:1;
}
#a3999:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3999:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3999:hover .zhongji{
    display:block;
}
#a3999:hover .learn-number{
    display:block;
}
#a3999:hover .lessonplay{
    opacity:1;
}
#a4000:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a4000:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a4000:hover .zhongji{
    display:block;
}
#a4000:hover .learn-number{
    display:block;
}
#a4000:hover .lessonplay{
    opacity:1;
}
#a3960:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3960:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3960:hover .zhongji{
    display:block;
}
#a3960:hover .learn-number{
    display:block;
}
#a3960:hover .lessonplay{
    opacity:1;
}
#a3959:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3959:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3959:hover .zhongji{
    display:block;
}
#a3959:hover .learn-number{
    display:block;
}
#a3959:hover .lessonplay{
    opacity:1;
}
#a3803:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3803:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3803:hover .zhongji{
    display:block;
}
#a3803:hover .learn-number{
    display:block;
}
#a3803:hover .lessonplay{
    opacity:1;
}
#a3753:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3753:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3753:hover .zhongji{
    display:block;
}
#a3753:hover .learn-number{
    display:block;
}
#a3753:hover .lessonplay{
    opacity:1;
}
#a3752:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3752:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3752:hover .zhongji{
    display:block;
}
#a3752:hover .learn-number{
    display:block;
}
#a3752:hover .lessonplay{
    opacity:1;
}
#a3751:hover  p{
    display:block;
    opacity:1;
    height: 56px;
}
#a3751:hover  .lesson-infor{
    height: 175px;
    overflow:visible;

}
#a3751:hover .zhongji{
    display:block;
}
#a3751:hover .learn-number{
    display:block;
}
#a3751:hover .lessonplay{
    opacity:1;
}
